/* 引入iconfont字体 */
@font-face {
    font-family: 'iconfont';
    src: url('../fonts/iconfont.eot');
    src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/iconfont.woff2') format('woff2'),
        url('../fonts/iconfont.woff') format('woff'),
        url('../fonts/iconfont.ttf') format('truetype'),
        url('../fonts/iconfont.svg#iconfont') format('svg');
}

/* 版心 */
.w {
    width: 940px;
    margin: 0 auto;
}

/* 左浮动 */
.fl {
    float: left;
}

/* 右浮动 */
.fr {
    float: right;
}

/* header部分 */
.search-btn {
    /* 绝对/固定定位不能与浮动一起用，会使浮动失效 */
    /* float: left; */
    position: fixed;
    top: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    background: url("../images/svg/icon_search_white.svg") no-repeat center/26px #161616;
    border-radius: 4px;
}

.cart-btn {
    position: fixed;
    top: 20px;
    right: 19px;
    width: 50px;
    height: 50px;
    background: url("../images/svg/icon-cart.svg") no-repeat center/26px #161616;
    border-radius: 4px;
}

.login-btn {
    position: fixed;
    top: 20px;
    right: 80px;
    width: 89px;
    height: 50px;
    /* line-height: 50px; */
    background-color: #161616;
    border-radius: 4px;
}

.login-btn-text {
    font-size: 14px;
    text-align: center;
    /* line-height: 50px; */
    letter-spacing: 0.08em;
    color: #fff;
}

/* logo部分 */
.logo {
    width: 575px;

    padding-top: 91px;
}

.logo a {
    display: block;
    width: 575px;
    height: 64px;
    text-align: center;
}

.nav {
    height: 29px;
    /* 这里不能设置margin-right，因为浮动的子元素也设置了，会出现高度塌陷问题 */
    /* margin: 60px 0 40px 0; */
    margin-top: 60px;
    margin-bottom: 40px;
}

.nav ul li {
    /* 记得要在父元素后面清除浮动，不然会影响后面的标准流 */
    float: left;
    margin-right: 20px;
}

.nav ul li a {
    font-size: 16px;
    line-height: 1.2em;
    letter-spacing: 1px;
    color: #666;
}

.shangpin {
    margin-left: 20px;
}

.shangpin ul li {
    overflow: hidden;
    float: left;
    margin-right: 60px;
    margin-bottom: 64px;
    width: 185px;
}

.shangpin ul li:nth-child(4n) {
    margin-right: 0;
}

.shangpin ul li:nth-child(4n+1) {
    clear: left;
}

.cd-image {
    width: 185px;
    height: 185px;
}

.cd-name {
    padding: 12px 0 8px 0;
    font-size: 13px;
    line-height: 1.6em;
    letter-spacing: 0.03em;
    /* 强制英文单词断行 */
    word-break: break-all;
}

.item-price-number {
    font-size: 14px;
    letter-spacing: 0.05em;
}

.sold-out {
    /* 浮动元素高度不一致会发生错位，可以为换行的第一个元素清除浮动 */
    /* height: 20px; */
    width: 70px;
    border-radius: 3px;
    background-color: #999;
}

.sold-out p {
    font-size: 10px;
    /* 设置行高大一点让文字撑开 */
    line-height: 20px;
    text-align: center;
    color: #fff;
    letter-spacing: 0.08em;
}

.copyright {
    position: relative;
    /* top: 0;
    left: 0; */
    margin-top: 60px;
    margin-bottom: 130px;
    height: 38px;
    /* text-align: center; */
}

.more-info ul li {
    float: left;
    margin: 0 5px;
}

.more-info ul li:nth-child(n+4) {
    float: right;
    margin: 0 8px;
}

.footer-email {
    display: block;
    width: 38px;
    height: 38px;
    background: url("../images/svg/icon-mail.svg") no-repeat center/18px #161616;
    border-radius: 3px;
}

.footer-info {
    display: block;
    width: 38px;
    height: 38px;
    background: url("../images/svg/icon-info.svg") no-repeat center/18px #161616;
    border-radius: 3px;
}

.footer-sns {
    display: block;
    width: 38px;
    height: 38px;
    background: url("../images/svg/icon-sns.svg") no-repeat center/18px #161616;
    border-radius: 3px;
}

.footer_copyright-link {
    /* 用定位使同一行的元素底部对齐 */
    position: absolute;
    top: 10px;
    left: 380px;
    display: inline-block;
    overflow: hidden;
    height: 28px;
    width: 177px;
    /* padding-top: 10px; */
    background: url(../images/svg/icon-footer-logo.svg) no-repeat center;
}


.footer-twitter {
    /* position: absolute;
    top: 7px;
    right: 185px; */
    display: block;
    width: 30px;
    height: 30px;
    line-height: 10px;
    border-radius: 50%;
    background: url(../images/svg/icon_twitter.svg) no-repeat center/18px #9ea5b2;
}

.footer-ins {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: url(../images/svg/icon_instagram.svg) no-repeat center/18px #9ea5b2;
}

.footer-home {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: url(../images/svg/icon_home.svg) no-repeat center/18px #9ea5b2;
}